<tr>
    <td class="text-center">
        <span>{{ report.name }}</span>
    </td>
    <td class="text-center">
        <img style="width: 50px;" src="{{ report.flag }}"/>
    </td>
    <td class="text-center">
        <span>{{ report.cases }}</span>
    </td>
    <td class="text-center">
        <span>{{ report.deaths }}</span>
    </td>
    <td class="text-center">
        <span>{{ report.recovered }}</span>
    </td>
    <td class="text-center">
        <span>{{ report.deltaCases }}</span>
    </td>
    <td class="text-center">
        <span>{{ report.deltaDeaths }}</span>
    </td>
</tr>
